<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <!-- ======== -->
    <!-- SERVLETS -->
    <!-- ======== -->

    <servlet>
        <servlet-name>BookList</servlet-name>
        <servlet-class>BookList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>UserList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>UserEdit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReviewList</servlet-name>
        <servlet-class>ReviewList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FilterBooks</servlet-name>
        <servlet-class>FilterBooks</servlet-class>
    </servlet>

    <!-- Pages -->

    <servlet>
        <servlet-name>PageStart</servlet-name>
        <servlet-class>PageStart</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdmin</servlet-name>
        <servlet-class>PageAdmin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminUsers</servlet-name>
        <servlet-class>PageAdminUsers</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageLogin</servlet-name>
        <servlet-class>PageLogin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageMain</servlet-name>
        <servlet-class>PageMain</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminUsersSearch</servlet-name>
        <servlet-class>PageAdminUsersSearch</servlet-class>
    </servlet>

    <!-- ================ -->
    <!-- SERVLET MAPPINGS -->
    <!-- ================ -->

    <servlet-mapping>
        <servlet-name>BookList</servlet-name>
        <url-pattern>/BookList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/UserEdit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReviewList</servlet-name>
        <url-pattern>/ReviewList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FilterBooks</servlet-name>
        <url-pattern>/FilterBooks</url-pattern>
    </servlet-mapping>

    <!-- Pages -->

    <servlet-mapping>
        <servlet-name>PageStart</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdmin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminUsers</servlet-name>
        <url-pattern>/AdminUsers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageMain</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    

    <servlet-mapping>
        <servlet-name>PageAdminUsersSearch</servlet-name>
        <url-pattern>/AdminUsersSearch</url-pattern>
    </servlet-mapping>
    
</web-app>