<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>

    <!-- ======== -->
    <!-- SERVLETS -->
    <!-- ======== -->

    <servlet>
        <servlet-name>BookList</servlet-name>
        <servlet-class>BookList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>UserList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserEdit</servlet-name>
        <servlet-class>UserEdit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>UserUpdate</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReviewList</servlet-name>
        <servlet-class>ReviewList</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>CheckLogin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FilterBooks</servlet-name>
        <servlet-class>FilterBooks</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>RegisterUser</servlet-class>
    </servlet>

    <!-- Pages -->

    <servlet>
        <servlet-name>PageStart</servlet-name>
        <servlet-class>PageStart</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdmin</servlet-name>
        <servlet-class>PageAdmin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminUsers</servlet-name>
        <servlet-class>PageAdminUsers</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminBooks</servlet-name>
        <servlet-class>PageAdminBooks</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageLogin</servlet-name>
        <servlet-class>PageLogin</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageMain</servlet-name>
        <servlet-class>PageMain</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminUsersSearch</servlet-name>
        <servlet-class>PageAdminUsersSearch</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminBooksSearch</servlet-name>
        <servlet-class>PageAdminBooksSearch</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminUserEdit</servlet-name>
        <servlet-class>PageAdminUserEdit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAdminBookEdit</servlet-name>
        <servlet-class>PageAdminBookEdit</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageRegister</servlet-name>
        <servlet-class>PageRegister</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageBook</servlet-name>
        <servlet-class>PageBook</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageBuy</servlet-name>
        <servlet-class>PageBuy</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PageAccount</servlet-name>
        <servlet-class>PageAccount</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>BuyBook</servlet-name>
        <servlet-class>BuyBook</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ReviewUpdate</servlet-name>
        <servlet-class>ReviewUpdate</servlet-class>
    </servlet>

    <!-- ================ -->
    <!-- SERVLET MAPPINGS -->
    <!-- ================ -->

    <servlet-mapping>
        <servlet-name>BookList</servlet-name>
        <url-pattern>/BookList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserEdit</servlet-name>
        <url-pattern>/UserEdit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReviewList</servlet-name>
        <url-pattern>/ReviewList</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FilterBooks</servlet-name>
        <url-pattern>/FilterBooks</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>


    <!-- Pages -->

    <servlet-mapping>
        <servlet-name>PageStart</servlet-name>
        <url-pattern>/Start</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdmin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminUsers</servlet-name>
        <url-pattern>/AdminUsers</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminBooks</servlet-name>
        <url-pattern>/AdminBooks</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageLogin</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageMain</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminUsersSearch</servlet-name>
        <url-pattern>/AdminUsersSearch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminBooksSearch</servlet-name>
        <url-pattern>/AdminBooksSearch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminUserEdit</servlet-name>
        <url-pattern>/AdminUserEdit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAdminBookEdit</servlet-name>
        <url-pattern>/AdminBookEdit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageRegister</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageBook</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageBuy</servlet-name>
        <url-pattern>/Buy</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PageAccount</servlet-name>
        <url-pattern>/Account</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>BuyBook</servlet-name>
        <url-pattern>/BuyBook</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ReviewUpdate</servlet-name>
        <url-pattern>/ReviewUpdate</url-pattern>
    </servlet-mapping>

</web-app>