body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #eee;
}

/* General */

.frame {
    max-width: 960px;
    margin: 0 auto;
    background-color: white;
}

.frame-small {
    max-width: 512px;
}

.header {
    background-color: #19265e;
    padding: 16px;
    color: white;

    display: flex;
}

.header-title {
    font-weight: bold;
}

.header div:last-of-type {
    margin-left: auto;
}

.header a {
    color: white;
}

.header a:visited {
    color: white;
}

.body {
    padding: 16px;
}

.left-right {
    display: flex;
    gap: 16px;
}

.left-right div h1 {
    margin-top: 0;
}

.full-width {
    width: 100%;
}

/* Books */

.cover {
    height: 150px;
    width: 100px;
    background: gray;
    text-align: center;
}

.cover-row {
    display: flex;
    gap: 16px;
}

.book-preview {
    border: 2px solid #ccc;
    background-color: #ddd;
    padding: 16px;
    display: flex;
    gap: 16px;
}

.book-preview-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review {
    border: 2px solid #ccc;
    background-color: #ddd;
    padding: 16px;
}

.review-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.account-books {
    display:flex;
    align-items: stretch;
}

.your-review-column {
    display: flex;
    flex:1;
    padding-left:16px;
    gap: 16px;
}

.your-review {
    border: 2px solid #ccc;
    background-color: #ddd;
    padding: 16px;
}